<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname  %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname  %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :identity_no  %><br />
    <%= f.text_field :identity_no %>
  </div>
  <div class="field">
    <%= f.label :national_no  %><br />
    <%= f.text_field :national_no %>
  </div>
  <div class="field">
    <%= f.label :birthdate  %><br />
    <%= f.text_field :birthdate %>
  </div>
  <div class="field">
    <%= f.label :identity_serial  %><br />
    <%= f.text_field :identity_serial %>
  </div>
  <div class="field">
    <%= f.label :fathername  %><br />
    <%= f.text_field :fathername %>
  </div>
  <div class="field">
    <%= f.label :identity_issue_date  %><br />
    <%= f.text_field :identity_issue_date %>
  </div>
  <div class="field">
    <%= f.label :identity_issue_city  %><br />
    <%= f.text_field :identity_issue_city %>
  </div>
  <div class="field">
    <%= f.label :email  %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :legal_type  %><br />
    <%= f.text_field :legal_type %>
  </div>
  <div class="field">
    <%= f.label :gender  %><br />
    <%= f.select(:gender, options_for_select([['مرد', 'Male'], ['زن', 'Female']])) %>
  </div>
  <div class="field">
    <%= f.label :marital_status  %><br />
    <%= f.select(:marital_status, options_for_select([['متاهل', 'Married'], ['مجرد', 'Single']])) %> 
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
